# Configuration file

customfont {
    I:boldCopies=2
    S:customFontNameFallback=Minecraft 1.1
    S:customFontNamePrimary=Minecraft 1.1
    I:customFontQuality=16
    D:customFontScale=1.0
    B:enableCustomFont=true
    B:enableGlyphReplacements=true
    I:fontAAMode=1
    I:fontAAStrength=7
    D:fontShadowOffset=1.0
    D:fontShadowOffsetUC=0.5
    D:glyphAspect=0.0
    D:glyphSpacing=0.0
    D:glyphScale=1.0
    I:shadowCopies=1
    D:whitespaceScale=1.0
}
